@using System.Data
@model List<CartItem>

@{
    ViewData["Title"] = "Корзина";
}

@if (Model.Count == 0)
{
    <div class="text-center py-5">
        <i class="bi bi-basket text-muted" style="font-size: 3rem;"></i>
        <p class="mt-3 text-muted">Ваша корзина пуста</p>
        <a href="/" class="btn btn-primary">Вернуться в каталог</a>
    </div>
}
else
{
    <div class="card mb-5">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Корзина</h5>
        </div>
        <div class="block-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.Product.Image" width="50" alt="@item.Product.Brand @item.Product.Model" />
                                <a href="/Home/Details/@item.Product.Id">@item.Product.Brand @item.Product.Model</a>
                            </td>
                            <td>@item.Product.Price.ToString("C")</td>
                            <td>
                                <form asp-action="UpdateQuantity" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@item.ProductId" />
                                    <input type="number" name="quantity" value="@item.Quantity" min="1" style="width:60px;" />
                                    <button type="submit"
                                            class="btn btn-sm btn-outline-primary"
                                            title="Обновить">
                                        <i class="bi bi-arrow-clockwise"></i>
                                    </button>
                                </form>
                            </td>
                            <td>@((item.Product.Price * item.Quantity).ToString("C"))</td>
                            <td class="del-product">
                                <form asp-action="RemoveFromCart" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@item.ProductId" />
                                    <button type="submit"
                                            class="btn btn-sm btn-danger">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between align-items-center">
                <h5>Итого:</h5>
                <span class="fs-4 fw-bold">
                    @string.Format("{0:C}", @Model.Sum(item => item.Product.Price * item.Quantity))
                </span>
            </div>
        </div>
    </div>

    Database database = new Database();
    var username = Context.Session.GetString("Username");
    DataTable dt = new DataTable();
    dt = database.GetData($"select * from users where username = '{username}';");

    User user = new User(0, null, null, null, null, null, null, null);

    foreach (DataRow row in dt.Rows)
    {
        user.Id = Convert.ToInt32(row[0]);
        user.Login = row[1].ToString();
        user.Password = row[2].ToString();
        user.LastName = row[3].ToString();
        user.FirstName = row[4].ToString();
        user.MiddleName = row[5].ToString();
        user.Email = row[6].ToString();
        user.Phone = row[7].ToString();
    }

    <div class="actions mt-3 mb-5 d-flex justify-content-between">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Вернуться к каталогу</a>
        <button class="btn btn-success" id="orderBtn" onclick="showOrderForm('order-block')">Оформить заказ</button>
    </div>
    <div class="col-lg-8" id="order-block">
        <div class="card">
            <div class="card-body">
                <form id="orderForm" method="post"  asp-action="Create">
                    <input type="hidden" name="totalamount" value="@Model.Sum(item => item.Product.Price * item.Quantity)" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Фамилия</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Иванов" value="@user.LastName" required>
                            </div>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Имя</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Иван" value="@user.FirstName" required>
                            </div>
                            <div class="mb-3">
                                <label for="middleName" class="form-label">Отчество (при наличии)</label>
                                <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Иванович" value="@user.MiddleName">
                            </div>
                            <div class="mb-0">
                                <button type="submit" 
                                    class="btn btn-success w-50 mt-5"
                                    >
                                    Оформить заказ
                                </button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Телефон</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="79998887766" value="@user.Phone" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.ru" value="@user.Email" required>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Адрес доставки</label>
                                <textarea class="form-control" id="address" name="address" rows="3" required style="resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}